* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto;
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
}

header, footer, #section-1 {
    background-color: #1F2937;
}
header, section, footer {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    border: 2px solid red;
    height: 2rem;
}
header img {
    color: #F9FAF8;
    font-size: 24px;
}

section {
    height: 13rem;
}

#section-1 {
    display: flex;
    justify-content: space-around;
    border: 2px solid blue;
}
#section-1 h1 {
    color: #F9FAF8;
    font-family: Hero;
    font-size: 48px;
    font-weight: bold;
}
#section-1 p {
    color: #E5E7EB;
    font-family: Hero;
    font-size: 18px;
}
#section-1 div {
    border: 3px solid green;
}
#placeholder {
    background-color: #E5E7EB;
}
button {
    background-color: #3882F6;
    color: #F9FAF8;
}

#section-3 {
    background-color: #E5E7EB;
}

footer {
    height: 2rem;
}