* {
    margin: 0;
    padding: 0;
}

body {
		font-family: Roboto, sans-serif;
		margin: 0;
		border: 1px solid red;

}

.top-container {
		max-width: 1400px;
		margin: 0 auto;
		border: 1px solid blue;
}

header {
		background-color: #1f2937;
		color: #f9faf8;
		font-size: 48px;
		font-weight: 900;
}

.quote-section {
		background-color: #e5e7eb;
		color: #1f2937;
		font-size: 36px;
		font-weight: 300;

}

.quote-author {
		background-color: #e5e7eb;
		color: #1f2937;
		font-size: 16px;
		font-weight: 700;
}

.gallery {
		display: flex;
}

.gallery img {
		width: 320px;
		height: 220px;
		object-fit: cover;
		display:block;

		border: 4px solid #3882f6;
		border-radius: 18px;
}
