* {
    margin: 0;
    padding: 0;
}


body {
		font-family: Roboto, sans-serif;
		min-height: 965px;
		background-color: #111827;
}

body, main, .info, .quote-section {
		display: flex;
		flex-direction: column;
		align-items: center;
}

header, footer {
		background-color: #1f2937;
		color: #f9faf8;
		width: 60%;
}
header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 7rem;
}

.logo {
		height: 70px;
		width: auto;
		display: block;
		margin-left: 7rem;
}

nav {
		width: 30%;
		display: flex;
		justify-content: space-between;
		margin-right: 8rem;

}
nav a {
		font-size: 1.2rem;
		color: #e5e7eb;
		text-decoration: none;
		letter-spacing: 0.5px;
		position: relative;
}

nav a:after {
		content: "";
		position: absolute;
		background-color: #fff;
		height: 3px;
		width: 0;
		left: 0;
		bottom: -10px;
		transition: 0.3s;
}

nav a:hover:after {
		width: 100%;

}

main {
		background-color: #fff;
		width: 60%;
		flex:1;
		align-items: center;
}

.hero {
		background-color: #1f2937;
		color: #f9faf8;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		min-height: 20rem;
}

.hero-left {
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
}
.hero-left h1 {
		font-size: 48px;
		font-weight: 900;

}
.hero-left p {
		font-size: 15px;
		text-align: justify;
		word-break: break-word;
		color: #e5e7eb;
		margin-bottom: 8px;

}
.hero-left a, .cta-container a {
		text-decoration: none;
		text-align: center;
		letter-spacing: 0.5px;
		color: #f9faf8;
		background-color: #3882f6;
		width: 6rem;
		border-radius: 5px;
		min-height: 30px;
		line-height: 30px
}
.hero-left a:hover, .cta-container a:hover {
		background-color: #2563eb;
}
.hero-right {
		width: 40%;
}

.hero-right img {
		width: 100%;
		max-height: 15rem;
		object-fit: fill;

}

.info {
		width: 100%;
		justify-content: center;
		min-height: 25rem;
}
.info h1 {
		text-align: center;
		margin-bottom: 2rem;
}

.gallery {
		width: 100%;
		display: flex;
		justify-content: space-around;

}
.gallery figure {
		width: 20%;
}

.gallery img {
		width: 100%;
		height: 220px;
		object-fit: fill;
		display:block;

		border: 4px solid #3882f6;
		border-radius: 18px;
}
.gallery figcaption {
		color: #555555;
		max-width: 100%;
		text-align: center;
		word-break: break-word;
}

.quote-section {
		background-color: #e5e7eb;
		width: 100%;
		min-height: 20rem;
		color: #1f2937;
		justify-content: center;
		font-size: 26px;
		font-weight: 300;

}
.quote-section .quote {
		width: 43%;
		margin: 0 auto;
		text-align: justify;
		word-break: break-word;
		font-family: Roboto;
		font-style: italic;
}
.quote-author {
		background-color: #e5e7eb;
		color: #1f2937;
		font-weight: 700;
		text-align: right;
}

.cta {
		min-height: 20rem;
		display: flex;
		justify-content: center;
		align-items: center;
}

.cta-container {
		display: flex;
		min-width: 55rem;
		min-height: 8rem;
		background-color: #3882f6;
		border-radius: 9px;
		color: #f9faf8;
		justify-content: space-around;
		align-items: center;

}
.cta-container-left p {
		font-size: 13px;
}
.cta-container a {
		border: 2px solid #f9faf8;
		background-color: #3882f6;
}

footer {
		text-align: center;
		min-height: 5rem;
		line-height: 5rem;
}
